.container{
    width: 1500px;
    margin: 0 auto;
    
}
.logo{
    background-image: url("../images/icons/js.png");
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
}
.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
}
.logo1{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo-text{
    color: #fca70a;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 10px 5px 8px rgb(139, 10, 5);
}
.menu{
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu ul li{
    display: inline-block;
    padding: 20px;
    font-size: 25px;
    color: white;

}
.main ,li:hover{
    background-color: rgb(58, 57, 57);
    padding: 20px;
    border-radius: 10px;
}
.btn-primary{
    width: 100px;
    height: 40px;
    color: rgb(252, 251, 250);
    background: orange;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.background{
    background-image: url("../images/footer-bg.png"),linear-gradient(rgba(10, 2, 2, 0.6),rgba(4, 4, 15, 0.4)) ;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    text-align: center;
    background-size: cover;
    overflow: hidden;
}

.btn-text{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.heading-text{
    padding-top: 50px;
    font-size:49px;
    color: white;
    font-weight: 800;
}
.hig{
    color: red;
}
.paragraph-text1{
    width: 650px;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 20px;
    padding-bottom: 50px;
}
.paragraph-text{
    overflow: hidden;
    
}
.btn1{
    background-color: orangered;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}
.btn2{
    background-color: white;
    padding: 15px;
    color: orangered;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}
.btn3{
    background-color: orangered;
    padding: 15px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 0px;
    margin-left: 20px;

}

/* banckground-picture */

.background-picture{
    background-image: url("../images/banner/banner2.png");
    width: 1500px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.banner{
    background-image:  url("../images/gradient2.png") ,url("../images/watch.png");
    height: 250px;
    width:80%;
    border-radius: 20px;
    margin-top:-120px;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    margin-left:180px;
}
    
.p1{
    font-size: 40px;
    color: white;
    width: 400px;
    overflow: hidden;
    margin-left: 20px;
}
.footer{
    background-color: rgb(73, 72, 72);
    width: 1500px;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-heading{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}
.footer-paragraph{
    color: white;
    width: 485px;
    height: 75px;
    font-size: 18px;
}
.gamil,.phone{
    color: white;
}
.subscribe{
    color: white;
    font-size: 26px;
}
.email{
    font-size: 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(73, 72, 72);
}
.btn4{
    background-color: #0315b8;
    padding: 15px;
    color: rgb(252, 250, 249);
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
}
.footer-logos{
    display: flex;
    gap: 20px;
}
.boxs{
    margin-bottom: 40px;
}
.box11{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0px 6px 30px 0px #0e0303;
}
.box12{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0px 6px 30px 0px #0e0303;
}


.box1{
    display: flex;
    gap: 14px;
    justify-content: right;
    margin-top: 12%;
    margin-right: 20px;
}

.box21{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0px 6px 30px 0px #0e0303;

}
.box22{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0px 6px 30px 0px #0e0303;

}
.box2{
    display: flex;
    gap: 14px;
    justify-content: right;
    margin-top: 1%;
    margin-right: 20px;
}
.box1 img{
    padding: 40%;
}
.box2 img{
    padding: 40%;
}
.box22 img{
    padding: 30%;
}
.mid-logo{
    display: flex;
    justify-content:center;
    gap: 10px;
    align-items: center;
    
}
.mid-logo1{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 100px;
    box-shadow: 0px 6px 30px 0px #0e0303;
}
.mid-logo2{
    height: 200px;
    width: 200px;
    background-color: rgba(168, 15, 15, 0.144);
    border-radius: 100px;
    box-shadow: 0px 6px 30px 0px #0a0303;
}.mid-logo3{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 100px;
    box-shadow: 0px 6px 30px 0px #0e0303;
}
.mid-logo4{
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.582);
    border-radius: 100px;
    box-shadow: 0px 6px 30px 0px #0d0e0c;
}
.mid-logo4 img{
    margin-left: 70px;
    margin-top: 30px; 
}
.mid-logo2 img{
    margin-left: 70px;
    margin-top: 30px; 
}
.njs{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.mid-logo1 img{
    margin-left: 70px;
    margin-top: 30px; 
}
.mid-logo3 img{
    margin-left: 70px;
    margin-top: 30px; 
}